body {
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
}

/* Header section*/
header {
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 24px;
}

.top {
    height: 64px;
    width: auto;
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.top p {
    height: 32px;
    font-size: 1.25rem;
}
#name {
    font-size: 1.625rem;
}
#gray {
    color: gray;
}
.top img {
    height: 100%;
}
.top #nav {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
}

/* Intro section */
.intro {
    background-color: gainsboro;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 48px 100px 48px 48px;
    gap: 88px;
}
.container {
    max-width: 750px;
}
.container img {
    width: 105%;
    height: auto;
}
.container #sentence {
    text-align: left;
    align-content: space-between;
}
#sentence h1 {
    font-size: 3.125rem;
    font-weight: bold;
    color: dimgray;
}
#sentence p {
    font-size: 2rem;
    color: dimgray;
}
#button {
    color: white !important;
    font-size: 3.125rem;
    background-color: dimgray;
    text-align: center;
    padding: 8px;
    transition-property: color;
}
#button:hover {
    color: black;
}

/* Main section */
.main {
    background-color: whitesmoke;
}


/* Courses section */
.learning {
    background-color: gainsboro;
    padding: 16px 72px 64px 72px;
}
.learning h1 {
    text-align: center;
    font-size: 3.125rem;
}
.courses {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 48px 16px;
}
.course {
    max-width: 350px;
    background-color: white;
}
.course img {
    width: 100%;
    height: auto;
}
.course #description {
    padding: 2px 16px 2px 16px;
    line-height: 1.3;
    font-size: 1.25rem;
}


/* Thesis section */
.exhibit {
    background-color: whitesmoke;
    padding: 24px 0 0 0;
}
.exhibit h1 {
    text-align: center;
    font-size: 3.125rem;
}
.thesis {
    display: flex;
    gap: 28px;
    padding: 18px 0 32px 48px;
}
.side {
    max-width: 700px;
}
.side video {
    width: 100%;
    height: auto;
    padding-top: 8px;
}
.side h3 {
    font-size: 1.75rem;
}
.side p {
    font-size: 1.25rem;
    line-height: 1.3;
}
.content {
    display: inline-flex;
    gap: 16px;
    padding: 0 48px 16px 16px;
    align-items: center;
}
.content #left img {
    width: 240px;
    height: auto;
}
.content #right {
    flex-wrap: wrap;
}


/* Footer section */
footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 6px 24px;
    font-size: 1.15rem;
}
.bottom {
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}
.bottom #terms {
    padding-right: 20px;
}