body {
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
}

/* Header section*/
header {
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 24px;
}

.top {
    height: 64px;
    width: auto;
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.top p {
    height: 32px;
    font-size: 1.25rem;
}
#name {
    font-size: 1.625rem;
}
#gray {
    color: gray;
}
.top img {
    height: 100%;
}
.top #nav {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
}
#mobile {
    display: none;
    height: 90%;
    padding-right: 20px;
    padding-left: 20px;
}

@media only screen and (max-width: 480px) {
    #name {
        display: none;
    }
    #nav {
        display: none;
    }
    #mobile {
        display: inline-flex;
    }
    header {
        justify-content: space-around;
        padding-left: 32px;
    }
}

/* Intro section */
.intro {
    background-color: gainsboro;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 48px 72px 48px 58px;
    gap: 72px;
}
.container {
    max-width: 700px;
}
.container img {
    width: 100%;
    height: auto;
}
.container #sentence {
    text-align: left;
    align-content: space-between;
}
#sentence h1 {
    font-size: 3.125rem;
    font-weight: bold;
    color: dimgray;
    padding-right: 50px;
}
#sentence p {
    font-size: 2rem;
    color: dimgray;
}
#button {
    color: white !important;
    font-size: 3.125rem;
    background-color: dimgray;
    text-align: center;
    padding: 8px;
    max-width: 360px;
    transition-property: color;
}
#button:hover {
    color: black;
}

@media only screen and (max-width: 480px) {
    .intro {
        display: block;
        padding: 2px;
    }
    #sentence {
        padding: 32px;
    } 
}

/* Main section */
.main {
    background-color: whitesmoke;
    display: flex;
    gap: 28px;
    padding: 32px 0 48px 58px;
}
.info {
    min-width: 700px;
}
.info #banner {
    width: 100%;
    height: auto;
    padding-top: 32px;
}
.info h1 {
    font-size: 3.125rem;
}
.info p {
    line-height: 1.3;
    font-size: 1.25rem;
}
.box {
    display: inline-flex;
    gap: 16px;
    padding: 8px 48px 16px 16px;
    align-items: center;
}
.box #picture img {
    width: 200px;
    height: auto;
}
.box #text {
    padding-right: 120px;
}
.box h3 {
    font-size: 1.75rem;
}
.box p {
    line-height: 1.3;
    font-size: 1.25rem;
}
.box #more {
    color: blue;
}
#small {
    display: none;
}
@media only screen and (max-width: 480px) {
    .main {
        display: block;
        padding: 32px 16px 16px 16px;
    }
    #part {
        display: none;
    }
    .box {
        display: block;
        padding: 32px 16px 32px 16px;
        width: 440px;
        height: auto;
    }
    .box h3 {
        color: dimgray;
        font-size: 1.6rem;
    }
    #laptop {
        display: none;
    }
    #small {
        display: block;
        max-width: 98%;
        height: auto;
    }
    #text {
        width: 95%;
        padding-left: 16px;
        padding-right: 16px;
    }
}

/* Courses section */
.learning {
    background-color: gainsboro;
    padding: 16px 72px 64px 72px;
}
.learning h1 {
    text-align: center;
    font-size: 3.125rem;
}
.courses {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 48px 16px;
}
.course {
    max-width: 350px;
    background-color: white;
}
.course img {
    width: 100%;
    height: auto;
}
.course #description {
    padding: 2px 16px 2px 16px;
    line-height: 1.3;
    font-size: 1.25rem;
}
.subjects {
    display: none;
}

@media only screen and (max-width: 480px) {
    .learning {
        background-color: whitesmoke;
        padding: 16px 16px 64px 16px;
        border: 1px solid lightgray;
    }
    .learning h1 {
        color: dimgray;
    }
    .courses {
        display: none;
    }
    .subjects {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .subject {
        padding: 16px 16px 24px 16px;
        font-size: 1.6rem;
        font-weight: lighter;
        background-color: gainsboro;
        color: dimgray;
    }
}


/* Thesis section */
.exhibit {
    background-color: whitesmoke;
    padding: 16px 0;
}
.exhibit h1 {
    text-align: center;
    font-size: 3.125rem;
}
.thesis {
    display: flex;
    gap: 28px;
    padding: 18px 0 32px 48px;
}
.side {
    max-width: 700px;
}
.side video {
    width: 100%;
    height: auto;
    padding-top: 8px;
}
.side h3 {
    font-size: 1.75rem;
}
.side p {
    font-size: 1.25rem;
    line-height: 1.3;
}
.content {
    display: inline-flex;
    gap: 16px;
    padding: 0 48px 16px 16px;
    align-items: center;
}
.content #left img {
    max-width: 1000px;
    height: auto;
}
#s {
    display: none;
}

@media only screen and (max-width: 480px) {
    #s {
        display: inline;
    }
    .thesis {
        display: block;
        padding: 16px 0;
    }
    .exhibit {
        padding: 16px 2px 32px 2px;
    }
    .exhibit h1 {
        color: dimgray;
    }
    .content {
        display: none;
    }
    .side h3 {
        display: none;
    }
    .side p {
        display: none;
    }
}


/* Footer section */
footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 6px 24px;
    font-size: 1.15rem;
}
.bottom {
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}
.bottom #terms {
    padding-right: 20px;
}

@media only screen and (max-width: 480px) {
    footer {
        padding: 16px;
        margin-top: 24px;
    }
    .bottom #terms {
        display: none;
    }
}